<div class="container">
  <app-show-form 
    (createElement)="createElement($event)" 
    (updateElement)="updateElement($event)" 
    [show]="selectedShow" 
    [isEdit]="isEditing">
  </app-show-form>
  <app-show-filter (onAlfabetic)="ordenAlfa()" (onEnd)="ordenFinal()"></app-show-filter>

  <div class="container d-flex">
    <app-show-card 
      *ngFor="let show of shows" 
      [show]="show" 
      (deleteCard)="deleteElement($event)" 
      (editCard)="selectShowForEdit($event)">
    </app-show-card>
  </div>
</div>



<!-- Actualizado -->

